@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section head{
    <link href="~/Content/liMarquee.css" rel="stylesheet" />
    <style type="text/css">
        .error {
            font-size: 10px;
            color: red;
            padding-left: 75px;
        }

        .wrap {
            padding: 10px;
        }

        .dowebok {
            width: 350px;
            margin: 20px auto;
            font-size: 0;
        }

            .dowebok img {
                margin-left: 10px;
                vertical-align: top;
            }
    </style>
    @RenderSection("accountheader", false)
}


<div class="content">
    <div class="account-in">
        <h2>@ViewBag.Title</h2>
        <div class="col-md-7 account-top">
            @RenderBody()
        </div>
        <div class="col-md-5 left-account ">
            @{ BookShop.IBLL.IBooksBLL booksbll = new BookShop.BLL.BooksBLL(); var books = booksbll.LoadEntities(c => true).OrderBy(c => c.rating).Skip(0).Take(6).ToList();}
            <div class="dowebok">
                @foreach (var item in books)
                {
               
                    <a href="/Home/ShopDetails?id=@item.Id">
                        <img src="@string.Format("/Images/BookCovers/{0}.jpg", item.ISBN)" alt="@item.Title" title="@item.Title" style="width:150px;height:209px;"></a>
                
                }
            </div>
            @*            <div class="five-in">
                <h1>25%</h1>
                <span>打折</span>
            </div>*@
            <a href="/Account/Register" class="create">没有账号吗？</a>
        </div>
        <div class="clearfix"></div>
    </div>

</div>

@section foot{
    <script src="/Scripts/jquery.liMarquee.js"></script>
    <script>
        $(function () {
            $('.dowebok').liMarquee();
        });
    </script>
    @RenderSection("accountfooter", false)
}
